/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;

  display: grid;
  gap: 2rem;
}

label,
input,
button,
select,
textarea {
  display: block;
}

.form_felt {
  display: grid;
  gap: 3px;
}
